html.dark body {
    background: #41403e;
    height: 100%;
    margin: 0;
}

#top {
    max-width: 1440px;
    margin-top: 2em;
}

footer {
    width: 100%;
    text-align: center;
    margin: 0;
}

#cfblock {
    margin-top: 1em;
}

#from_email {
    max-width: 250px;
}

@media screen and (max-width:480px) {
    thead tr th {
        padding: 2%;
    }
    tbody tr td {
        padding: 2%;
    }
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* #quote-container {
   height: 100%;
}

#base-container {
   height: 100%;
} */