{% extends "base.html" %} {% block content %}
<div class="paper container">
    <div>
    <p>
        Looking for api information? -> <a href="/documentation">Docs</a></li>
    </p>
    <p>Or just want to say hello -> </p>
    </div>

    <div id="contact" class="col-12 col container">
        <form
            hx-post="/hello"
            hx-swap="innerHTML"
            hx-target="#contact"
            method="post"
        >
            <div class="form-group">
                <label for="from_email">email address</label>
                <input
                    class="input-block"
                    type="email"
                    placeholder="youremail@domain.com"
                    id="from_email"
                    name="from_email"
                    required="true"
                />
                <br />
                <label for="message">message</label>
                <textarea
                    id="message"
                    name="message"
                    placeholder="hello"
                    required="true"
                ></textarea>

                <div id="cfblock" class="row">
                    <div
                        class="cf-turnstile"
                        data-sitekey="0x4AAAAAAAeam8ntxcFbPdBj"
                        data-theme="dark"
                        data-size="compact"
                    ></div>
                </div>
                <div id="sendbtn" class="row">
                    <button type="submit" name="action">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
