<div class="paper container">
    <div class="col-6 col container-sm">
        <h2> {{ daily_quote.quote }}</h2>
        <h4> {{ daily_quote.author }}</h4>
        <p> category: {{ daily_quote.category }}</p>
        <a href="/documentation">
            <button class="btn-small">Docs</button>
        </a>
        <a href="/random">
            <button class="btn-small">Random</button>
        </a>
        <a href="{{ host_url }}/quote/{{ daily_quote.id }}">
            <button class="btn-small"># permalink</button>
        </a>
    </div>
</div>
