{% extends "base.html" %}  {% block content %}
<table class="table-hover">
    <thead>
        <tr>
            <th>Quote</th>
            <th>Author</th>
            <th>Category</th>
            <th>Submitted By</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody
        hx-confirm="Are you sure?"
        hx-target="closest tr"
        hx-swap="outerHTML swap:1s">
        {% for s in submissions %}
        <tr>
            <td>{{ s.quote }}</td>
            <td>{{ s.author }}</td>
            <td>{{ s.category }}</td>
            <td>{{ s.added_by }}</td>
            <td>
                <span>
                    <button 
                        hx-patch="/api/v1/quote/submissions/{{ s.id }}"
                        class="btn-secondary-outline btn-small"
                        >Add
                    </button>
                    <button 
                        hx-on:click="console.log('REJECT!')"
                        class="paper-btn btn-small btn-danger-outline"
                        >Reject
                    </button>
                </span>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}